* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: "Epilogue", sans-serif;
  --ff-texting: "Open Sans", sans-serif;

  --hue: 237;
  --bg-primary: hsl(var(--hue), 22%, 20%);

  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%);
}

ul {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-texting);

  background-color: var(--bg-primary);
  color: var(--fc-primary);
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

header {
  font-family: var(--ff-heading);
  text-align: center;

  margin: 10rem 0rem 8rem;
}

header p {
  color: var(--fc-secondary);

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

header h1 {
  color: var(--fc-primary);
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 800;
}

main {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  height: 41.6rem;
  border-radius: 0.6rem;

  object-fit: cover;

  opacity: 0.6;
  transition: all 200ms;
}

.card img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.2rem;

  color: var(--fc-primary);
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;
}

.card h2 span {
  background: var(--fc-primary);
  border-radius: 2rem;
  color: var(--fc-secondary-dark);

  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--ff-heading);

  padding: 0rem 1.6rem;
  height: 3.8rem;
  width: fit-content;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
